* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(235, 244, 225);
  margin-bottom: 50px;
}

.animate-indicator {
  position: relative;
  color: rgb(127, 109, 121);
  background: rgb(255, 247, 252);
  left: 105px;
  transition: left 1s;
  font-size: 14px;
  font-weight: 400;
  text-align: right;
  margin-bottom: 5px;
  width: 80px;
  padding-right: 10px;
}

.animate-indicator:hover {
  left: 55px;
}

.channel-name {
  text-align: center;
  padding-top: 15px;
}

.stream-name {
  font-style: italic;
  text-align: left;
  padding-top: 5px;
}

.sorted {
  left: 55px;
}

  
.OnlineStream {
padding: 10px;
background: rgb(157, 209, 156);
border: 1px solid rgb(255, 247, 252);
display: block;
}

.OfflineStream {
padding: 10px;
background: rgb(166, 200, 221);
border: 1px solid rgb(255, 247, 252);
display: block;
}

.circle-brown {
  background: rgb(127, 109, 121);
}

.circle-blue {
  background: rgb(166, 200, 221);
}

.circle-green {
  background: rgb(185, 224, 170);
}

.loader {
  position: absolute;
  top: 300px;
  left: 230px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(157, 209, 156);;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}