* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(235, 244, 225);
}

.animate-indicator {
  position: relative;
  left: 105px;
  transition: left 1s;
}

.animate-indicator:hover {
  left: 55px;
}

.channel-name {
  text-align: center;
  padding-top: 15px;
}

.stream-name {
  font-style: italic;
  text-align: left;
  padding-top: 5px;
}